<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me!</p>
        <p>Bill Gates pumped around 30% of his wealth into pharmaceutical stock three months (1 quarter) before the onset of Covid.</p>
    </body>
</html>